* {
    box-sizing: border-box;
}

body {
    background-color: #efefef;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.column-direction {
    flex-direction: column;
}

.margin-between {
    margin: 5px 0px;
}

.spread {
    width: 100%;
    margin: 10px 0;
}

.info-text {
    color: #08bb08;
}

.alert {
    color: #be0000;
}

/* Logo */

svg:hover #bF75GXwq {
    transform: rotate(180deg);
    transition: all 1s;
}

@keyframes pulsation {
    0% {
        box-shadow: 0 0 0 0 rgba(75, 133, 240, 0.7), 0 0 0 0 rgba(75, 133, 240, .7)
    }
    40% {
        box-shadow: 0 0 0 50px rgba(75, 133, 240, 0), 0 0 0 0 rgba(75, 133, 240, .7)
    }
    80% {
        box-shadow: 0 0 0 50px rgba(75, 133, 240, 0), 0 0 0 30px rgba(75, 133, 240, 0)
    }
    100% {
        box-shadow: 0 0 0 0 rgba(75, 133, 240, 0), 0 0 0 30px rgba(75, 133, 240, 0)
    }
}

@-webkit-keyframes pulsation {
    0% {
        box-shadow: 0 0 0 0 rgba(75, 133, 240, 0.7), 0 0 0 0 rgba(75, 133, 240, .7)
    }
    40% {
        box-shadow: 0 0 0 50px rgba(75, 133, 240, 0), 0 0 0 0 rgba(75, 133, 240, .7)
    }
    80% {
        box-shadow: 0 0 0 50px rgba(75, 133, 240, 0), 0 0 0 30px rgba(75, 133, 240, 0)
    }
    100% {
        box-shadow: 0 0 0 0 rgba(75, 133, 240, 0), 0 0 0 30px rgba(75, 133, 240, 0)
    }
}

@keyframes toWireFrame {
    0% {
        background-color: #2196f3;
        color: #eeeeff;
        border: 1px solid #2196f3;
    }
    100% {
        color: #2196f3;
        background-color: rgba(255, 255, 255, 0.5);
        border: 1px solid #2196f3;
    }
}

.button {
    width: 100%;
    height: 40px;
    padding: 5px 40px;
    color: #ffffff;
    background-color: #2196f3;
    border: 1px solid #2196f3;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.10), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
}

.button:active {
    animation: pulsation 1s linear infinite, toWireFrame 1s linear;
}

.rect-button {
    border-radius: 3px;
}

input[type=checkbox] {
    display: none;
}

input+label,
input+label::before,
input+label::after {
    -webkit-transition: all .2s;
    transition: all .2s;
}

input+label {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 48px;
    border-radius: 24px;
    cursor: pointer;
}

input+label::before {
    display: block;
    content: attr(data-off-label);
    position: absolute;
    top: 14px;
    right: 7px;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

/* 移動体 */

input+label::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 46px;
    height: 46px;
    background-image: url("../images/SCOPin_image.svg");
    background-size: contain;
    border-radius: 50%;
    transform: rotate(-360deg);
}

input:checked+label::before {
    content: attr(data-on-label);
    left: 7px;
    right: auto;
    color: #fff;
}

input:checked+label::after {
    left: 73px;
    transform: rotate(0deg);
}

/* change_nicol */

#change_nicol+label {
    background-color: #444;
    animation: fadeIn 1s, pulsation 1s linear 4s 2;
}

#change_nicol+label::before {
    color: #dfdfdf;
}

#change_nicol:checked+label {
    background-color: #efefef;
}

#change_nicol:checked+label::before {
    color: #888;
}

.title {
    margin: 5px 0 5px 0;
}

.important {
    font-size: 1.5em;
}

a {
    color: inherit;
}

.select-wrapper {
    width: 390px;
    max-width: 100%;
    padding: 0 10px;
}

select {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    width: 100%;
    height: 40px;
    padding: 5px 0.5em;
    font-size: 1.2rem;
    line-height: 1;
    border: 0.5px solid rgba(49, 49, 93, 0.10);
    border-bottom: 1px solid #2196f3;
    border-radius: 3px;
    color: inherit;
    background-color: inherit;
    cursor: pointer;
    box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.10), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
}

select option {
    background-color: #0c395e;
    color: #eeeeff;
}

select:after {
    content: "▼";
    position: relative;
    right: 10px;
}

@keyframes slideBelow {
    0% {
        top: -64px;
    }
    100% {
        top: 0;
    }
}

#top-navigation {
    z-index: 500;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 64px;
    color: #eeeeff;
    background-color: #0c395e;
    font-size: 1.25rem;
    opacity: 0;
    box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.5);
    animation: opacity0_1 1s ease 2s forwards, slideBelow 1s ease 2s forwards;
}

#rock_selector {
    animation: pulsation 1s linear 4s 2;
}

#app-wrapper {
    padding: 70px 10px 20px 10px;
    min-height: 100vh;
    background-color: #dfdfdf;
}

#low-navigation {
    margin: 10px 0;
    padding: 0 10px;
    max-width: 100%;
}

@keyframes opacity0_1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#welcome-card {
    width: 100%;
    height: 100vh;
    margin: -64px 0;
    font-size: 1.5em;
    animation: opacity0_1 2s linear 1s;
}

#viewer_wrapper {
    background-color: #222222;
    border-radius: 3px;
}

#view_discription {
    /*position: sticky;*/
    top: 64px;
    padding: 0 20px;
    width: 780px;
    max-width: 100%;
    background-color: #dfdfdf;
}

#view_discription ul {
    padding: 0;
}

#view_discription li {
    margin: 5px 0;
}

.image_containor {
    display: none;
}

.icon {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.sns_icon img {
    border-radius: 3px;
    height: 30px;
}

#footer {
    z-index: 750;
    position: sticky;
    top: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #cfcfcf;
    color: #3d3d3d;
    display: flex;
    border-top: 5px solid #0c395e;
    font-size: 1.2rem;
}

.footer_column {
    flex: 1;
    padding: 10px 20px;
    margin: 10px;
    font-family: 'Arial';
}

.form-wrapper {
    max-width: 100%;
    padding: 30px;
    border-radius: 3px;
    background-color: #f7f8f9;
    box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.10), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
    color: #444444;
}

#form-loader {
    width: 100%;
}

#payment-form {
    animation: fadeIn 0.1s linear;
}

.inactive {
    display: none;
    animation: fadeOut 0.5s ease forwards;
}

#card-errors {
    margin-top: 16px;
}

.StripeElement {
    background-color: white;
    padding: 15px 12px;
    border-radius: 4px;
    box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.10), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    border-color: #80bdff;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

/* Loading */

#app-loader {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 300;
    background-color: rgb(0, 0, 0);
}

.lds-css>img {
    animation: lds-disk 1s infinite;
}

.lds-css {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-css.inactive {
    animation: fadeOut 2s linear forwards;
}

#form-loader.inactive {
    display: none !important;
}

@keyframes fadeIn {
    0% {
        visibility: visible;
        display: none;
        opacity: 0;
    }
    1% {
        display: flex;
        opacity: 0;
    }
    50% {
        display: flex;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        display: flex;
    }
    50% {
        opacity: 1;
        display: flex;
    }
    99% {
        opacity: 0;
        display: flex;
    }
    100% {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes lds-disk {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes lds-disk {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media screen and (max-width:1024px) {
    #top-navigation {
        height: 60px;
    }
    #app-wrapper {
        padding: 70px 10px 20px 10px;
    }
    #welcome-card {
        margin: -70px 0;
    }
    #footer {
        flex-direction: column;
        margin: 0;
    }
    @keyframes slideBelow {
        0% {
            top: -70px;
        }
        100% {
            top: 0;
        }
    }
}

@media screen and (min-width:1025px) {}
