
.categoryContainer {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    padding: 5px 0 0 0;
    background-color: #113d60;
    box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.5), 0 -3px 6px 10px rgba(0, 0, 0, 0.2);
}

.categoryContainerMenuBar {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0px 10px 5px;
}

.breadcrumb {
    flex: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.breadFragment {
    display: flex;
    align-items: center;
    margin: 0 3px;
    max-width: 10rem;
}

.breadLabel {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 5px;
    color: #9bdbfd;
    border-bottom: 1px solid #9bdbfd;
    cursor: pointer;
}

.breadLabel.current {
    color: #efefef;
    border: none;
    cursor: default;
}

.toggleFilterButton {
    font-size: 1.25rem;
    height: 40px;
    width: 50px;
    background-color: #00000000;
    box-shadow: 0 3px 1px 0px #2196f344,
        0 3px 5px 0 #b4faff49 inset;
    border: none;
    border-bottom: 0.5px solid #2196f388;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: border-bottom 0.5s;
    transition: box-shadow 0.5s;
}

.toggleButtonName {
    font-size: 1rem;
    color: #efefef;
}

.toggleFilterButton > img {
    width: 2rem;
    height: 2rem;
}

.toggleFilterButton.active {
    border-bottom: 0.5px solid #829c8644;
    box-shadow: 0 1px 3px 0 #4f500c44,
        0 1px 3px 0 #ffdfb436 inset;
    transition: border-bottom 0.2s;
    transition: box-shadow 0.2s;
}

.categorySelector {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 10px 0px 10px;
    min-height: 1.5rem;
    border-top: 1px solid #0a243a;
}

.categoryButton {
    font-size: 1.0rem;
    min-width: 4rem;
    padding: 5px 10px;
    background-color: #113d60;
    border: 1px solid #9bdbfd44;
    border-radius: 3px;;
    color: #efefef;
    margin: 5px 10px;
    cursor: pointer;
    box-shadow: 0 1px 1px 0px #9bdbfd88,
        0 1px 3px 0 #b4ffdc36 inset;
}

.categoryButton:active {
    background-color: #2196f3
}

.info {
    font-size: 1rem;
    margin: 5px 10px;
    color: #efefef;
}