.navigationContainer {
    z-index: 500;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    color: #eeeeff;
    background-color: #0c395e;
    font-size: 1.25rem;
}

.navigationSpace,
.navigationContainer{
    width: 100%;
    height: 47px;
    padding: 2px 2px 5px 2px;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.sampleListExpanderContainer {
    flex-grow: 1;
}

.expandSampleListButton{
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 0.5px solid #2196f388;
    border-radius: 3px;
    color: inherit;
    font-size: 1.2rem;
    line-height: 1;
    background-color: inherit;
    cursor: pointer;
    box-shadow: 0 5px 2px 0px #2196f344, 
        0 3px 5px 0 #b4e7ff6b inset;
    transition: border-bottom 0.5s;
    transition: box-shadow 0.5s;
}

.activeButton {
    border-bottom: 0.5px solid #829c8644;
    box-shadow: 0 1px 3px 0 #4f500c44,
        0 1px 3px 0 #ffdfb436 inset;
    transition: border-bottom 0.2s;
    transition: box-shadow 0.2s;
}

.languageSelectorContainer{
    font-family: "Segoe UI Emoji";
    width: 5rem;
    margin: 0 10px;
}

.languageSelector {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    width: 100%;
    height: 40px;
    padding: 5px 0.5em;
    font-size: 1.2rem;
    line-height: 1;
    border: 0.5px solid rgba(49, 49, 93, 0.10);
    border-bottom: 1px solid #2196f3;
    border-radius: 3px;
    color: inherit;
    background-color: inherit;
    cursor: pointer;
    box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.10), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
}

.languageSelector option {
    background-color: #0c395e;
    color: #eeeeff;
}