::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.267);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(126, 148, 245, 0.267);
  border-radius: 10px;
}

.sampleListContainer {
    position: fixed;
    inset: 0;
    top: 64px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 50vh;
    overflow-x: hidden;
    color: #eeeeff;
    transition: max-height 0.2s ease-in-out;
}

.sampleListContainer.inActive {
    max-height: 0;
    transition: max-height 0.2s ease-in-out;
}

.sampleListSelector {
    width: 100%;
    max-width: 600px;
    overflow-y: scroll;
    background-color: #0c395e;
    border-radius: 0 0 7px 7px;
}

.sampleSelectorWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px auto;
}

.optionContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 3rem;
    font-size: 1.2rem;
    padding: 5px 0;
    border-bottom: 1px solid #114875;
}

.optionContainer:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #184c77;
}

.optionWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cachedSymbol {
    min-width: 16px;
    margin: 0 3px 0 6px;
}

.optionIndex {
    min-width: 24px;
    text-align: right;
    margin: 0 3px;
}

.optionLabel {
    flex-grow: 1;
    padding-left: 7.5px;
}

.categoryContainer {
    position: sticky;
    top: 0;
    display: flex;
    min-height: 50px;
    width: 100%;
    max-width: 600px;
    background-color: #113d60;
    box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.5), 0 -3px 6px 10px rgba(0, 0, 0, 0.2);
}

.categoryContainerMenuBar {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 5px;
}

.breadcrumb {
    flex: 1;
    display: flex;
    align-items: center;
}

.breadcrumb > div > span {
    margin: 0 3px;
}

.toggleFilterButton {
    font-size: 1.25rem;
    height: 40px;
    width: 50px;
    background-color: #00000000;
    border: none;
    border-radius: 3px;
}

.toggleFilterButton.active {
    background-color: #2196f3;
}