::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(99, 99, 99, 0.829);
    border-radius: 10px;
}

.sampleListContainer {
    z-index: 500;
    position: fixed;
    inset: 0;
    top: 60px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 65vh;
    overflow-x: hidden;
    color: #fdfdfd;
    transition: max-height 0.2s ease-in-out;
    border-radius: 0 0 20px 20px;
    max-width: 600px;
}

.sampleListContainer.inActive {
    max-height: 0;
    transition: max-height 0.2s ease-in-out;
}

.sampleListSelector {
    width: 100%;
    overflow-y: scroll;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(55, 55, 55, 0.4);
    border-radius: 0 0 20px 20px;
}


@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .sampleListSelector {
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
    }
}

.sampleSelectorWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px auto;
}