.optionContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 3rem;
    font-size: 2rem;
    padding: 5px 0;

    box-shadow: -1px -1px 4px #78787e inset;
    cursor: pointer;
}

.optionContainer:hover {
    background: rgba(125, 191, 245, 0.4);
}


.optionContainer.selected {
    background: rgb(184 217 255 / 40%);
    box-shadow: inset -5px 6px 10px 0px #3a4f6188
}

.optionWrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.cachedSymbol {
    min-width: 16px;
    margin: 0 3px 0 6px;
}

.optionIndex {
    min-width: 24px;
    text-align: right;
    margin: 0 3px;
}

.optionLabel {
    flex-grow: 1;
    padding-left: 7.5px;
}