.annotation {
    transform-origin: left top;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.annotationContentContainer {
    display: flex;
    max-height: 0px;

    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: none;
    padding: 0 20px;

    width: 780px;
    max-width: 100%;
    background-color: #ebebeb;
    border-radius: 40px;
    box-shadow: none;
    background: #efefef;
    font-size: 1.6rem;

    transition: max-height 0.5s, box-shadow 0.5s;
}

.active {
    margin: 10px 0;
    max-height: 200px;
    box-shadow: 5px 5px 14px #afafaf, -5px -5px 14px #ffffff;
    background: linear-gradient(145deg, #d4d4d4, #fbfbfb);
    transition: max-height 0.5s, box-shadow 0.5s;
}

.annotationContent {
    margin: 5px 10px 5px 10px;
    height: 100%;
    overflow-y: scroll;
    flex-grow: 1;
}

.closeAnnotationContentButton {
    margin: 5px;
    background: none;
    border: none;
    filter: drop-shadow(3px 3px 5px #000) drop-shadow(-3px -3px 5px #fff);
}