.annotation {
    transform-origin: left top;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.annotationContentContainer {
    background-color: #d1d1d188;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: 20px;
    /*flex-direction: column;*/
    align-items: center;
    overflow: hidden;
    padding: 5px 0;
}

@supports (-webkit-backdrop-filter: none) {
    .annotationContentContainer {
        background-color: #64646491;
    }
}

.annotationContent {
    margin: 5px 0px 5px 10px;
    height: 100%;
    overflow-y: scroll;
    flex-grow: 1;
}

.closeAnnotationContentButton {
    margin: 5px;
    background: none;
    border: none;
    filter: drop-shadow(3px 3px 5px #000) drop-shadow(-3px -3px 5px #fff);
}